[Unit]
Description=TigerVNC server on display %i
After=network.target

[Service]
Type=simple
User=__USER__
Group=__USER__
WorkingDirectory=/home/__USER__
ExecStart=/usr/bin/tigervncserver -fg -geometry 1920x1080 -depth 24 -SecurityTypes VncAuth :%i
ExecStop=/usr/bin/tigervncserver -kill :%i
Restart=on-failure

[Install]
WantedBy=multi-user.target
